{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
            <a  class="btn btn-outline-dark" href="{% url 'items' %}">&#x2190; Back</a>

			<table class="table">
				<tr>
					<th><h5>Total:<strong> {{ cart.get_total }}</strong></h5></th>
					<th>
					</th>
				</tr>
			</table>
			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:4"><strong>Item: </strong></div>
					<div style="flex:1"><strong>Price: </strong></div>
					<div style="flex:1"><strong>Quantity: </strong></div>
					<div style="flex:1"><strong>Total: </strong></div>
				</div>
				{% for order_line in cart.order_lines.all %}
				<div class="cart-row">
					<div style="flex:4"><p>{{ order_line.item.title }}</p></div>
					<div style="flex:1"><p>{{ order_line.item.price|floatformat:2 }} €</p></div>
					<div style="flex:1"><p>{{ order_line.qty }}</p></div>
					<div style="flex:1"><p>{{ order_line.get_total }}</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}