{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<h1>Designers:</h1>
<ul>
{% for designer in designers %}
<li><a href="{% url 'designer' designer.id %}"> {{ designer.first_name }} {{ designer.last_name }}</a></li>
{% endfor %}
</ul>
<div class="container puslapiai">
    <nav aria-label="...">
        {% if designers.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in designers.paginator.page_range %}
                    {% if designers.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href>{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}